<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tripmore" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TripMore"
        tools:ignore="AllowBackup" >
        <activity
            android:name=".AnimationPayment"
            android:exported="false" />
        <activity
            android:name=".PaymentAnimation"
            android:exported="false" />
        <activity
            android:name=".Card"
            android:exported="false" />
        <activity
            android:name=".Nagad"
            android:exported="false" />
        <activity
            android:name=".Bkash"
            android:exported="false" />
        <activity
            android:name=".Payment"
            android:exported="false" />
        <activity
            android:name=".Myplan"
            android:exported="false" />
        <activity
            android:name=".Explore"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".Search"
            android:exported="false" />
        <activity
            android:name=".DetailsActivity6"
            android:exported="false" />
        <activity
            android:name=".DetailsActivity5"
            android:exported="false" />
        <activity
            android:name=".DetailsActivity4"
            android:exported="false" />
        <activity
            android:name=".DetailsActivity3"
            android:exported="false" />
        <activity
            android:name=".DetailsActivity2"
            android:exported="false" />
        <activity
            android:name=".DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".SignupAnimation"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" /> <!-- android:exported="false" /> -->
        <activity
            android:name=".SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>